.App {
  text-align: center;
}

body {
  background-image: radial-gradient(#00FFFF 20%, transparent 20%),
     radial-gradient(#00FFFF 20%, transparent 20%);
  background-color: #fafafa;
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
  height: 20px;
  width: 100%;
}

.navbar-custom {
  background-color: #007bff; 
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}

.navbarcustom .navbar-toggler {
  background-color: #e8ff1d; 
}

.navbar-custom .navbar-brand {
  color: white; 
}

.custom-button {
  /* background-color: red; */
  border-color: white; /* White outline border */
  color: white; /* White text */
}

.custom-button:hover {
  background-color: white; /* White background on hover */
  color: red; /* Red text on hover */
}