@tailwind base;

@layer base {
  html {
    @apply tw-text-neutral-800;
  }
  html.dark {
    @apply tw-text-neutral-50;
    @apply tw-bg-neutral-800;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App {
    text-align: center;
  }
  
  body {
    background-image: radial-gradient(#00FFFF 20%, transparent 20%),
       radial-gradient(#00FFFF 20%, transparent 20%);
    background-color: #fafafa;
    background-position: 0 0, 50px 50px;
    background-size: 10px 10px;
    height: 20px;
    width: 100%;
  }
  

  
}

@tailwind components;
@tailwind utilities;

.navbar-custom {
  background-color: #007bff; 
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}

.navbarcustom .navbar-toggler {
  background-color: #e8ff1d; 
}

.navbar-custom .navbar-brand {
  color: white; 
}

.custom-button {
  /* background-color: red; */
  border-color: white; /* White outline border */
  color: white; /* White text */
}

.custom-button:hover {
  background-color: white; /* White background on hover */
  color: red; /* Red text on hover */
}

.dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  visibility: visible
}

.collapse {
  display: block;
  visibility: visible !important;
  max-height: none;
  opacity: 1
}

.collapsing {
  transition: none !important;
}

.card {
  visibility: visible
}


